  <style>
    .centered-paragraph {
      text-align: center;
      margin-top: 50px;
    }
  </style>



<div style="margin: 100px">

</div>

<div class="container">
<div class="row">
    <div class="col-md-8 offset-md-2">
    <h1 class="text-center mb-4">Sobre nós</h1>
    <p class="centered-paragraph">
        Na Clínica Viver Bem, nossa equipe multidisciplinar de pediatras, ginecologistas, ortopedistas, oftalmologistas e dermatologistas está comprometida em fornecer cuidados abrangentes e especializados para toda a família. Estamos aqui para oferecer atendimento personalizado e compassivo em todas as fases da vida, desde o nascimento até a terceira idade.
    </p>
    <p class="centered-paragraph">
        Agende sua consulta hoje mesmo na Clínica Viver Bem e dê o primeiro passo em direção a uma vida mais saudável e feliz. Estamos prontos para ouvir suas preocupações, responder suas perguntas e trabalhar junto com você para desenvolver um plano de tratamento personalizado que atenda às suas necessidades específicas de saúde e bem-estar.
    </p>
    </div>
</div>
</div>
